<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Storagelocation</name>
            <label lang="de">Lagerorte</label>
            <label lang="en">Storage locations</label>
            <controller>Storagelocation</controller>
            <action>index</action>
            <class>settings--delivery-charges</class>
            <parent identifiedBy="controller">Article</parent>
        </entry>
    </entries>
</menu>